// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 0px 1px 2px gray;
  height: 50px;
  img {
    margin-top: 10px;
  }
}

.title {
  text-align: center;
  margin-top: 50px;
}

form {
  .field, .button {
    text-align: center;
  }
}